[run]
branch = True
source = plotnine
include = plotnine/*
omit =
    setup.py
    plotnine/_version.py
    plotnine/tests/*

[report]
exclude_lines =
    pragma: no cover
    ^def test_
    if __name__ == .__main__.:
precision = 1
