[run]
branch = True
source = ggplotx
include = ggplotx/*
omit =
    setup.py
    ggplotx/_version.py
    ggplotx/tests/*

[report]
exclude_lines =
    pragma: no cover
    ^def test_
    if __name__ == .__main__.:
precision = 1
