*.py[cod]
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# generated docs
docs/_static/
docs/generated/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

*.swp

# Testing
result_images
tmp

# docs
docs/_static/*.png
docs/generated/

release.sh
reset-images.sh

## Tools and IDEs ##

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#pycharm
.idea/

# rope
.ropeproject

# spyder
.spyderproject
.spyderworkspace

