repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--select=I001, --fix]
      # Run the formatter.
      - id: ruff-format
