/* Adjust the tables */

table.table,
table.longtable {
   border: 1px solid #DDD;
   border-collapse: collapse;
}

table.table {
   width: initial;
}

table.longtable {
   width: 100%;
}

table.table td,
table.table th {
   border-left: 1px solid #DDD;
}

table.field-list {
   border: none;
}

table.field-list td,
table.field-list th{
   border-left: none;
}

tr.row-even td {
   background-color: #F0F6F6;
}


/* pandas dataframe */

table.dataframe {
   margin: 0 0 1em 0;
   color: #000;
   font-family: Ubuntu, Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
   border-collapse: collapse;
}

table.dataframe,
table.dataframe tr,
table.dataframe th,
table.dataframe td {
   border: 1px solid #DDD;
}

table.dataframe th,
table.dataframe td {
   padding: .25em .5em;
}

table.dataframe thead th,
table.dataframe tfoot th {
   color: #333;
   text-align: left;
   background-color: #fff;
}

table.dataframe thead th {
   font-weight: bold;
   font-size: 1em;
   border-bottom: 2px solid #DDD;
}

table.dataframe tbody th,
table.dataframe thead tr th:first-child {
   border-right: 2px solid #DDD;
}

table.dataframe tbody th {
   text-align: right;
}

table.dataframe tfoot th {
   font-weight: normal;
   font-size: 1em;
   border-top: 2px solid #DDD;
}

table.dataframe tbody th,
table.dataframe tbody td,
table.dataframe thead th {
   font-size: .95em;
}

table.dataframe tbody tr:nth-child(odd) {
   background: #F0F6F6;
}
